<!---

<div class="columns">
  <div class="column is-6">
    <h1 class="title is-size-1">{{title}}</h1>
    <form action="{{action}}" method="POST">
      <label class="label" for="">Profile</label>
      <div class="control pb-4">
        <input class="input" type="text" name="name" value="{{user.name}}" />
      </div>


      <label class="label" for="">Username</label>
       <label for="email">Username</label>
        <div>
          <input
            type="email"
            name="email"
            id="email"
            value={{user.email}}
            required
          />
        </div>

    <label class="label" for="">Email:</label>
       <label for="email">Email:</label>
        <div>
          <input
            type="email"
            name="email"
            id="email"
            value={{user.email}}
            required
          />
        </div>

    <label class="label" for="">Email:</label>
      <div><label for="password">Password:</label></div>
        <div>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="*****"
            required
          />
        </div>

      <div class="field is-grouped is-pulled-right">
        <div class="control">
          <a class="button is-danger is-light" href="/">Cancel</a>
        </div>
        <div class="control">
          <button class="button is-success" type="submit">{{submit}}</button>
        </div>
      </div>
    </form>
  </div>
  <div class="column is-6 is-flex is-justify-content-center">
    <img src="https://images.unsplash.com/photo-1533105079780-92b9be482077?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=450&q=80" />
  </div>
</div>

-->