<div class="profielPage">
  <div class="hero-body">
    <h1 class="title is-size-1">This is your private profile page,
      {{user.username}}
    </h1>
        <div id="editMargin" class="field is-grouped block">
      <p class="control">
        <a id="buttonChange" class="button is-link is-rounded" href="/profile/{{user._id}}/edit">
        Edit this profile
      </a>
      </p>
       <p class="control">
         <a id="buttonChange2" class="button is-primary is-rounded" href="/profile/{{user._id}}/delete">
        Delete this profile
      </a>
      <figure class="image2">
          <img src="/images/pngegg.png" />
        </figure>
      </p>
      
    </div>

    {{#if editedCountries}}
    <div class="block">
      <h3 class="subtitle is-size-3">Edited Countries</h3>
      {{#each editedCountries}}
      <div class="block">
        <a href="/countries/{{_id}}" class="button is-primary is-large is-fullwidth">
          {{name}}
        </a>
      </div>
      {{/each}}
    </div>
    {{/if}}

    <div class="field is-grouped block">
      <p class="control">
        <a class="button is-link is-rounded" href="/countries/create">Add a new country</a>
      </p>
      
    </div>
  </div>
</div>