<div class="columns">
  <div class="column is-6">
    <h1 class="title is-size-1 mb-1">
      {{country.name}}
    </h1>
    {{#if recipe}}
      <div id="recipe" style="min-height: 40vh;">
        <div class="columns">
          <div class="column is-12">
            <h3 class="subtitle is-size-3 mb-0">Recommended Dish:
              {{country.dishName}}
            </h3>
          </div>
        </div>
        <div class="columns is-centered">
          <div class="column is-narrow is-4">
            <img
              src="{{recipe.content.details.images.0.hostedLargeUrl}}"
              style="width: 100%;"
            />
            Time:
            {{recipe.content.details.totalTime}}
            <a
              class="button is-link is-outlined"
              href="{{recipe.content.details.directionsUrl}}"
              target="_blank"
            >
              Directions
            </a>
          </div>
          <div class="column">
            <h5 class="subtitle is-size-5 mb-1">
              Ingredients
            </h5>
            <ul>
              {{#each recipe.content.ingredientLines}}
                <li>
                  {{this.wholeLine}}
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    {{/if}}
    {{#if playlist}}
      <div id="playlist">
        <h3 class="subtitle is-size-3 mb-1">
          Spotify Playlist:
          {{playlist.name}}
        </h3>
        <iframe
          src="https://open.spotify.com/embed/playlist/{{country.playlistId}}"
          width="100%"
          height="80"
          frameborder="0"
          allowtransparency="true"
          allow="encrypted-media"
        ></iframe>
      </div>
    {{/if}}
  </div>
  <div class="column is-6">
    <div id="image">
      <figure class="image">
        <img src="{{country.imageUrl}}" style="max-height: 60vh; object-fit: cover" />
      </figure>
    </div>
    {{#if drink}}
      <h3 class="subtitle is-size-3 block mb-1">
        Recommended drink:
        <a href="{{drink.content.details.directionsUrl}}" target="_blank">
          {{country.drinkName}}
        </a>
      </h3>
    {{/if}}
    <div class="pt-4">
      <a class="button is-link is-rounded" href="/countries/{{country._id}}/edit">
        Edit this country
      </a>
      <a class="button is-primary is-rounded" href="/countries/{{country._id}}/delete">
        Delete this country
      </a>
    </div>
  </div>
</div>