<h1 class="title is-size-1">{{this.name}}</h1>
<br>

<p>
    {{this.description}}
</p>

<p>
    <a href="https://open.spotify.com/playlist/{{this.playlistId}}">
        Open playlist
    </a>
</p>

<p>
    <a href="{{this.recipeUrl}}">
        Open recipe
    </a>
</p>

<p>
    <img src="{{this.imageUrl}}" />
</p>

<a href="/countries/{{this._id}}/edit">Edit this country</a>
<a href="/countries/{{this._id}}/delete">Delete this country</a>