<h1 class="title is-size-1">{{title}}</h1>

{{! <div class="field">
        <label class="label">Username</label>
        <div class="control">
          <input
            class="input"
            type="text"
            name="username"
            placeholder="Text input"
            required
          />
        </div>
      </div> }}

<form action="{{action}}" method="POST">

  <label class="label" for="">Country</label>
  <div class="control">
    <input class="input" type="text" name="name" value="{{country.name}}" />
    <p class="help">Name of country</p>
  </div>

  <br />
  <label class="label" for="">Description</label>
  <div class="control">
    <input
      class="input"
      type="text"
      name="description"
      value="{{country.description}}"
    />
    <p class="help">Short description of this country</p>
  </div>

  <br />
  <label class="label" for="">Playlist</label>
  <div class="control">
    <input
      class="input"
      type="text"
      name="playlistId"
      value="{{country.playlistId}}"
    />
    <p class="help">Spotify playlist URL you think represents this country</p>
  </div>

  <br />
  <label class="label" for="">Recommended Dish</label>
  <div class="control">
    <input
      class="input"
      type="text"
      name="dishName"
      value="{{country.dishName}}"
    />
    <p class="help">Your favourite dish from this country</p>
  </div>

  <br />
  <label class="label" for="">Image</label>
  <div class="control">
    <input
      class="input"
      type="text"
      name="imageUrl"
      value="{{country.imageUrl}}"
    />
    <p class="help">The URL of a landscape image you think represents this
      country</p>
  </div>

  <br />
  <div class="field is-grouped is-pulled-right">
    <div class="control">
      <a class="button is-danger is-light" href="/">Cancel</a>
    </div>
    <div class="control">
      <button class="button is-success" type="submit">{{submit}}</button>
    </div>
  </div>

</form>