<h1 class="title is-size-1">{{this.name}}</h1>
<br>

<p>
    {{this.description}}
</p>

<p>
    {{this.Ingredients}}
</p>

<p>
    {{this.Instructions}}
</p>

<p>
    {{this.imageUrl}}
</p>

<a href="/recipes/{{this._id}}/edit">Edit this recipe</a>
<a href="/recipes/{{this._id}}/delete">Delete this recipe</a>